* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-size: 1rem;
  --font-family: Arial, Helvetica, sans-serif;
  --padding: 0.5rem;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #3e3d3d1d;
  display: flex;
  justify-content: center;
  align-items: center;
}
